body{
    margin: 0px;
}
.img{
    background-image: url("/static/image/restaurant.jpeg");
    height: 180px;
    background-size: 150vh;
    
    
}
ul{
    list-style: none;
    background-color: rgb(221, 212, 171);
    overflow: hidden;
    margin: 0px;
}
li{
    float: left;
    
}
li a{
    display: block;
    padding: 20px;
    color: dimgrey;
}
footer{
    background-color: rgb(228, 212, 168);
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 60px;
    text-align: center;
    color: rgb(116, 100, 70);
}
li a:hover{
    background-color: rgb(177, 177, 126)
}
.contain{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.burger1{
    border: solid rgb(172, 156, 114);
    margin: 10px;
}
form{
    border: solid rgb(204, 204, 142) 2px;
    width: 400px;
    margin: 20px 200px 100px 35%;
    padding: 30px;
    border-radius: 10px;
}
.message{
    margin: 10px 10px 10px 540px;
}
#message{
    text-align: center;
}