<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Store</title>
</head>
<body>
    <header>
        <div>
                 <img src="/static/image/s.png" alt="s" height="150px" width="400px">
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/contain">contain</a></li>
            <li><a href="/about">about</a></li>
        </ul>
     
    </header>
    {% block content%}
    {% endblock content%}
    <footer> created by Me</footer>
</body>
</html>
