<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Store</title>
    <link rel="stylesheet"  href="/static/css/c.css">
</head>
<body>
    <header>
        <div class="img">
         
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/contain">contain</a></li>
            <li><a href="/about">about</a></li>
        </ul>
    </header>
    {% block content%}
    {% endblock content%}
    <footer> 
       <pre>
        ###### created by Me ######
        ######  2020//2021 #####
                   ######   
    </pre> 
    </footer>
</body> 
</html>